@import "tailwindcss";


:root {
  font-family: Sora, serif;

  @apply bg-white text-black leading-5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-small {
   @apply container mx-auto px-4 py-4 lg:px-20 lg:py-6;
}


.container-section {
  @apply container mx-auto px-4 py-4 lg:px-20 lg:py-[60px] pb-10;
}
